---
title: heroku-hk
date: 2013-11-22 12:27 JST
tags: heroku
---

HerokuのhkというCLIクライアントがGoで書かれていて高速でいいらしい、ので使ってみる。

<blockquote class="twitter-tweet" lang="en"><p>Heroku が公式 CLI に Go を採用。クロスプラットフォームだし、速いしという Go のメリットが生かされている。 <a href="https://twitter.com/search?q=%23golangjp&amp;src=hash">#golangjp</a> / “heroku/hk · GitHub” <a href="http://t.co/iW4n0Gaq7G">http://t.co/iW4n0Gaq7G</a></p>&mdash; Jxck (@Jxck_) <a href="https://twitter.com/Jxck_/statuses/393170112330477569">October 24, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

公式の手順通りにやって躓いたところはなかった。

* [heroku/hk](https://github.com/heroku/hk#installation "heroku/hk")

`$ heroku apps`より`$ hk apps`のほうが約三倍速くなって良い感じ。
