<time class="date" itemprop="datePublished" content="<%= date.xmlschema %>" datetime="<%= date.xmlschema %>" pubdate>
  <%= date.strftime '<span class="year">%Y</span>-<span class="month">%m</span>-<span class="day">%d</span>'%>
</time>
