<h3>Built with</h3>
<ul class="horizontal">
  <li><%= link_to "Middleman", "http://middlemanapp.com/" %></li>
  <li><%= link_to "Bootstrap", "http://getbootstrap.com" %></li>
  <li><%= link_to "Glyphicons", "http://glyphicons.com" %></li>
</ul>
