<article class="profile" itemprop="author" itemscope itemtype="http://schema.org/Person">
  <h3>Profile</h3>
  <section class="namecard">
    <img src="http://www.gravatar.com/avatar/1056389eb8f4f67cb5a584db1fcf6b01.png?s=80&d=&r=G"></img>
    <h4 class="name" itemprop="name">yukihiro hara</h4>
  </section>
  <ul class="contact horizontal">
    <li><%= link_to "Twitter", "//twitter.com/yukihr" %></li>
    <li><%= link_to "Github", "//github.com/yukihr" %></li>
    <li><%= link_to "Facebook", "//facebook.com/yukihirohara"%></li>
  </ul>
  <p>ウェブ開発をやっています。このブログではウェブ制作やプログラミングに役立つかもしれないトピックを中心にお送りしています。</p>
</article>
