<article class="subscribe">
  <h3>Subscribe</h3>
  <ul class="horizontal">
    <li class="feedly"><%= partial 'feedly_button'%></li>
    <li><%= link_to '<span class="fa-rss"></span>', '/blog/feed.xml' %></li>
  </ul>
</article>
